.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 768px;
}

.field,
input[type=text],
input[type=password]{
    border: 1px solid var(--color-dark);
    border-radius: 2px;
    min-width: 150px;
}

.field__group{
    display: flex;
    flex-direction: column;
    width: 100%;
}